aiohttp
aiosignal
appdirs
appnope
argon2-cffi
argon2-cffi-bindings
asttokens
async-generator
async-timeout
attrs
autopep8
backcall
beautifulsoup4
bleach
blis
bokeh
branca
bs4
cached-property
catalogue
certifi
cffi
charset-normalizer
click
click-plugins
cligj
cloudpickle
colorcet
Counter
cryptography
cssselect
current
cycler
cymem
dask
dateparser
debugpy
decorator
defusedxml
demjson3
detect
docopt
en-core-web-lg @ https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-3.3.0/en_core_web_lg-3.3.0-py3-none-any.whl
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.3.0/en_core_web_sm-3.3.0-py3-none-any.whl
entrypoints
et-xmlfile
etl-utils
executing
facebook-scraper
fake-useragent
fastjsonschema
feedfinder2
feedparser
filelock
Fiona
folium
fonttools
frozenlist
fsspec
geographiclib
geopandas
geopy
geotext
graphviz
h11
holoviews
humanize
hvplot
idna
importlib-metadata
ipykernel
ipython
ipython-genutils
ipywidgets
jedi
jieba3k
Jinja2
joblib
Js2Py
jsonschema
jupyter
jupyter-bokeh
jupyter-client
jupyter-console
jupyter-core
jupyterlab-pygments
jupyterlab-widgets
kiwisolver
langcodes
langdetect
libretranslatepy
locationtagger
locket
lxml
Markdown
MarkupSafe
matplotlib
matplotlib-inline
mistune
multidict
munch
murmurhash
nbclient
nbconvert
nbformat
nest-asyncio
networkx
newspaper3k
nltk
notebook
numpy
oauthlib
openpyxl
outcome
packaging
pandas
pandocfilters
panel
param
parse
parso
partd
pathy
patsy
pexpect
pickleshare
Pillow
pipwin
preshed
progressbar
prometheus-client
prompt-toolkit
psutil
ptyprocess
pure-eval
pycodestyle
pycountry
pycparser
pyct
pydantic
pyee
pygeos
Pygments
pyjsparser
pyOpenSSL
pyparsing
pyppeteer
PyPrind
pyproj
pyquery
pyrsistent
pyserial
pysingleton
pySmartDL
PySocks
python-dateutil
python-dotenv
pytz
pytz-deprecation-shim
pyviz-comms
PyYAML
pyzmq
qtconsole
QtPy
radian
rchitect
regex
requests
requests-file
requests-html
requests-oauthlib
Rtree
scikit-learn
scipy
seaborn
selenium
Send2Trash
sgmllib3k
Shapely
six
smart-open
sniffio
snowballstemmer
sortedcontainers
soupsieve
spacy
spacy-legacy
spacy-loggers
srsly
stack-data
statsmodels
stopwords
termcolor
terminado
textblob
tfidf
thinc
threadpoolctl
tinycss2
tinysegmenter
tldextract
toml
toolz
tornado
tqdm
traitlets
translate
trio
trio-websocket
tweepy
typer
typing_extensions
tzdata
tzlocal
urllib3
vaderSentiment
w3lib
wasabi
wcwidth
webdriver-manager
webencodings
websockets
widgetsnbextension
wikipedia
wordcloud
wsproto
yarl
zipp
